<div class="row">
    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header icon="fa-tasks" title="User Details">
                <a href="#">Manage</a>
            </rd-widget-header>
            <rd-widget-body classes="medium no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr><th class="text-center">ID</th><th>Username</th><th>Role</th><th>Account</th></tr>
                        </thead>
                    <tbody>
                        <tr><td class="text-center">1</td><td>Gandhi</td><td>Admin</td><td>AZ23045</td></tr>
                        <tr><td class="text-center">2</td><td>Shastri</td><td>Admin</td><td>AU24783</td></tr>
                        <tr><td class="text-center">3</td><td>Sardar</td><td>User</td><td>AM23781</td></tr>
                    </tbody>
                    </table>
                </div>
            </rd-widget-body>
            <rd-widget-footer>
                <ul class="pagination pagination-sm pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
                </ul>
                <div class="clearfix"></div>
            </rd-widget-footer>
        </rd-widget>
    </div>
</div>
